
:root {
  --bg-main-color1: #292F36;
  --bg-main-color2: #CDA274;
  --bg-main-color3: #F4F0EC;
  --font1: 'Jost', sans-serif;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 19;
  --font2: 'DM Serif Display', serif;
}
.sec3-card {
  height: 278px;
  width: 349px;
  border-radius: 32px;
  padding: 32px 18px 50px 34px;
  background-color: #FFFFFF;
}

.sec3-card h2 {
  width: 135px;
  height: 33px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 6px;
  color: var(--bg-main-color1);

}

.name-sec3 {
  padding-top: 6px;
  margin-left: 16px;
}
.slick-slider{
  width: 100% !important;
}
.sec3-card span {
  width: 118px;
  height: 26px;
  font-family: var(--font1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--bg-main-color1);
}

.sec3-card p {
  width: 297px;
  height: 87px;
  font-family: var(--font1);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin-top: 32px;
  color: var(--bg-main-color1);
}
.sec5-card {
  padding-bottom: 50px;
}

.sec5-card-main-img {
  width: 100%;
  height: 650px;
  border-radius: 0px 80px 0px 0px;
}

.sec5-card-content {
  margin-top: 33px;
  justify-content: space-between;
}

.sec5-card h2 {
  width: 284px;
  height: 33px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 10px;
}

.sec5-card h3 {
  width: 253px;
  height: 32px;
  font-family: var(--font1);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: var(--bg-main-color1);
}

.sec5-card-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #F4F0EC;
  padding: 23px 23px 22px 23px;
}

